* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 10px;
  color: #3399cc;
  cursor: pointer;
}
.logo:hover {
  color: #009999;
}

.logo i {
  font-size: 2rem;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex: 1;
  margin-right: 40px;
  color: #666666;
  font-weight: 400;
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-links li:hover {
  color: #009999;
}

.photos:hover {
  border-bottom: 4px solid #33ccff;
}

.videos:hover {
  border-bottom: 4px solid #dc3545;
}

.abouts:hover {
  border-bottom: 4px solid #198754;
}

.contacts:hover {
  border-bottom: 4px solid #6f42c1;
}

li {
  gap: 5px;
}

#menu-toggle, .hamburger {
  display: none;
  margin-left: auto;
  padding-right: 20px;
}

.hamburger {
  flex-direction: column;
  gap: 10px;
}

.hamburger span {
  width: 20px;
  border: 1px solid black;
}

#menu-toggle:checked + label + nav .nav-links {
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: 1000;
  right: 1px;
  top: 20%;
}

@media (max-width: 767px) {
  .hamburger {
    display: flex;
  }
  .hamburger span {
    display: block;
  }
  .nav-links {
    display: none;
  }
}
section {
  background-image: url("https://templatemo.com/templates/templatemo_556_catalog_z/img/hero.jpg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow-x: hidden;
}

.hero {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.input {
  width: 20em;
  padding: 0.5em;
  border: none;
}

.input:focus {
  outline: 3px solid #009999;
}

.input::-moz-placeholder {
  color: #009999;
}

.input::placeholder {
  color: #009999;
}

.btn {
  width: 5em;
  background-color: #009999;
}
.btn i {
  color: #fff;
}

@media (max-width: 767px) {
  .section {
    background-image: url("https://templatemo.com/templates/templatemo_556_catalog_z/img/hero.jpg");
    background-size: cover;
  }
  .input {
    width: 5em;
  }
  .btn {
    width: 2em;
    padding: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .section {
    background-image: url("https://templatemo.com/templates/templatemo_556_catalog_z/img/hero.jpg");
    background-size: cover;
  }
  .input {
    width: 10em;
  }
  .btn {
    width: 3em;
  }
}
@media (min-width: 1025px) {
  .section {
    background-image: url("https://templatemo.com/templates/templatemo_556_catalog_z/img/hero.jpg");
    background-size: cover;
  }
  .input {
    width: 15em;
  }
  .btn {
    width: 5em;
  }
}
main {
  margin: 1em;
}

.div1 {
  display: flex;
  justify-content: space-between;
}

.h2, .div2 {
  color: #009999;
}

.div2 {
  font-weight: 500;
}

.input1 {
  width: 15%;
  border: 1px solid #cccccc;
  border-radius: 0;
  text-align: center;
  background-color: #f4f4f4;
  color: #009999;
}

.images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  -moz-column-gap: 1em;
       column-gap: 1em;
  width: 100%;
}

.child {
  margin-top: 3em;
}

.child1 {
  display: flex;
  justify-content: space-between;
}

.child1 p {
  color: #ccc;
}

.child1 span {
  color: #999;
}

.image1 {
  position: relative;
}

.overlay {
  width: 90%;
  height: 78%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  opacity: 0;
  transition: 0.6s;
  margin: 1.2em;
  padding-top: 4em;
  padding-left: 7em;
  border: 3px solid #fff;
}

.overlay p {
  font-size: 25px;
}

.overlay:hover {
  opacity: 1;
}

@media (max-width: 378px) {
  .images {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 767px) {
  .images {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}
.div3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
}

.previous {
  width: 10vw;
  background-color: #8ddcdc;
  color: #fff;
  padding: 1.2rem;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 5px;
}

.previous:hover {
  outline: 4px solid #aac6ef;
  cursor: not-allowed;
}

.numbers {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.numbers .li1 {
  background-color: #009999;
  color: #fff;
  width: 3vw;
  padding: 1rem;
  text-align: center;
}
.numbers .li1:hover {
  cursor: pointer;
}

.li2 {
  background-color: #eeeeee;
  color: #999;
  width: 3vw;
  padding: 1rem;
  transition: all 0.3s ease;
}

.li2:hover {
  background-color: #009999;
  color: #fff;
  cursor: pointer;
}

.nextpage {
  width: 10vw;
  background-color: #009999;
  color: #fff;
  padding: 1.2rem;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 5px;
}

.nextpage:hover {
  background-color: #055d5d;
}

@media (min-width: 320px) and (max-width: 378px) {
  .div3 .previous {
    width: 100%;
    font-size: 10px;
    margin-right: 1rem;
  }
  .div3 .numbers {
    width: 100%;
    height: 10vh;
  }
  .div3 .nextpage {
    width: 100%;
    font-size: 10px;
    margin-left: 1rem;
    padding: 1em;
  }
}
@media (min-width: 425px) and (max-width: 480px) {
  .div3 .previous {
    width: 20%;
    font-size: 0.8em;
    padding: 1em;
  }
  .div3 .numbers {
    width: 30%;
    margin-right: 1rem;
  }
  .div3 .nextpage {
    width: 20%;
    font-size: 0.8em;
    margin-left: 1rem;
    padding: 1em;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .div3 .previous {
    width: 20%;
    font-size: 1em;
  }
  .div3 .numbers {
    width: 20%;
    margin-right: 5rem;
    height: 13vh;
    padding: 0.1em;
  }
  .div3 .nextpage {
    width: 20%;
    font-size: 1em;
    margin-left: 1rem;
  }
}
footer {
  background-color: #eeeeee;
  width: 100%;
  margin-top: 5rem;
  color: #999;
}

.footer1 {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}

.h3 {
  color: #009999;
}

p span {
  color: blue;
}

.our-links {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.icons {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.icon1 {
  background-color: #fff;
  -moz-columns: #999999;
       columns: #999999;
  width: 4vw;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.help {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: end;
  margin-top: 4rem;
}

.p1 {
  padding-top: 4rem;
}

.our-links1:hover {
  color: #009999;
  cursor: pointer;
}

.our-links2:hover {
  color: #009999;
  cursor: pointer;
}

.our-links3:hover {
  color: #009999;
  cursor: pointer;
}

.our-links4:hover {
  color: #009999;
  cursor: pointer;
}

.icon1:hover {
  background-color: #009999;
  color: #ffffff;
  cursor: pointer;
}

@media (max-width: 378px) {
  footer {
    width: 100%;
  }
  .footer1 {
    width: 100%;
  }
  .para {
    width: 50%;
  }
  .para .h3 {
    font-size: 0.9em;
    width: 50%;
  }
  .para p {
    font-size: 0.8em;
  }
  .our-links {
    width: 50%;
  }
  .our-links h5 {
    font-size: 0.9em;
  }
  .our-links li {
    font-size: 0.5em;
    margin-left: 1em;
  }
  .our-links .our-links1 {
    margin-top: 6em;
  }
  .last {
    width: 50%;
  }
  .last .icons .icon1 {
    width: 5%;
    height: 3%;
    padding: 15px;
  }
  .last .help .design {
    margin-top: 20em;
    margin-left: 4em;
  }
}
@media (min-width: 425px) and (max-width: 665px) {
  .help .design {
    margin-left: 5em;
    margin-top: 10em;
  }
  .help .our-links li {
    font-size: 0.5em;
  }
}/*# sourceMappingURL=styles.css.map */